{% extends 'wide_base.html' %}

{% block title %}: Accommodation{% endblock %}

{% block content %}

<h2>Accommodation</h2>

{% filter markdown %}

Oxford is a popular destination, and low-cost accommodation is not the easiest to find - _book early_, especially if your budget is limited. 

#### On-site accommodation

Accommodation is available on-site at [St Catherine's College](http://www.catzconferences.co.uk/bedandbreakfast/BedandBreakfastBooking.php). Rooms can be booked for the nights of the 21st–24th March for £91/night (including VAT). 

#### Hotels 

- [Macdonald Randolph Hotel](http://www.macdonaldhotels.co.uk/our-hotels/macdonald-randolph-hotel/) – From ~£190 per night for a double room. This hotel is a 10-15-minute walk from the conference. On-site parking is available for £28.50 per night (pre-booking necessary). 
- [Old Parsonage Hotel](http://www.oldparsonage-hotel.co.uk/?utm_source=google&utm_medium=local&utm_campaign=oldparsonage) – From ~£185 per night for a double room. This hotel is a 10-minute walk from the conference. (Very) limited on-site parking available. 
- [Old Bank Hotel](http://www.oldbank-hotel.co.uk/?utm_source=google&utm_medium=local&utm_campaign=oldbank) – From ~£170 per night for a double room. This hotel is a 15-minute walk from the conference. 40 parking spaces available for hotel guests.
- [Mercure Oxford Eastgate Hotel](http://www.accorhotels.com/gb/hotel-6668-mercure-oxford-eastgate-hotel/index.shtml#!) – From ~£135 per night for a double room. This hotel is a 10-15 minute walk from the conference. Payed (public) parking space is limited. 
- [Holiday Inn](http://www.hioxfordhotel.co.uk/) – From ~£135 per night for a double room. This hotel is 3 miles from the conference. There is free on-site parking. There are buses every 10 minutes into town. 

#### Budget hotels

- [Premier Inn](http://www.premierinn.com/gb/en/hotels/england/oxfordshire/oxford/oxford.html?cid=KNC_Brn%7C_G_UK_UK_Eng_Enc_LO_Oxford_EX&mckv=sA4lQsg2K_dc%7Cpcrid%7C48163229019%7Ckword%7Cpremier%20inn%20oxford%7Cmatch%7Ce%7Cplid%7C&gclid=CjwKEAjw7ZHABRCTr_DV4_ej) – From ~£65 per night for a double room. This hotel is 3 miles from the conference. There is free on-site parking. The bus stop into town is a 10-minute walk away.  
- [Travelodge](https://www.travelodge.co.uk/search/results?location=oxford&lat=&long=&action=search&source=l&checkIn=&rooms%5B0%5D%5Badults%5D=1&rooms%5B0%5D%5Bchildren%5D=0) – From ~£45 per night, depending on location. 
There are 3 Travelodges around Oxford, situated 2.5-6 miles from the conference. Parking is free/free-but-limited/available but paid, depending on the site. There are buses into town. 

#### Non-hotel options

- [AirBnB](https://www.airbnb.co.uk/) – From ~£30 for a single room. 
- [Student Rooms](http://www.universityrooms.com/) – From ~£37 for a single room with shared facilities. Accommodation in University Colleges. Mostly within walking distance from the conference, but there are also plenty of buses. There is usually no parking available. 

There are also many small B&B’s and Guest houses across Oxford. These are not included here because of the limited number of available rooms, but these can easily be found via regular search engines. Prices start from ~£65 for an ensuite room. 

{% endfilter %}
{% endblock %}

