{% extends 'wide_base.html' %}

{% block title %}: Accommodation{% endblock %}

{% block content %}

<h2>Accommodation</h2>

{% filter markdown %}

Derry~Londonderry is a popular tourist destination and low-cost accommodation is not the easiest to find - _book early_, especially if your budget is limited. 

#### Hotels 

- [City Hotel](http://www.cityhotelderry.com/) – This hotel is a 10-15-minute walk from the conference. The City Hotel Derry is perfectly positioned for sightseeing breaks in Derry City. A stay at our Derry hotel guarantees easy access to some of the most remarkable golf courses in Ireland. Explore Derry, Donegal and the Causeway Coast.. 
- [Tower Hotel](http://www.towerhotelderry.com/) - This hotel is a 10-minute walk from the conference. (Very) limited on-site parking available. 
- [Travel Lodge](http://www.travelodge.ie/) – The Derry Travelodge is centrally located in the heart of the city. Our hotel is situated on Strand Road which is popular for nightlife, restaurants, shopping and minutes walk from Derry City’s many attractions.
- [Da Vinci’s Hotel](http://www.davincishotel.com/) – Da Vinci’s Hotel is renowned in the City of Derry for outstanding staff, great food & value for money. Situated less than 1 mile from the Derry City Centre. The hotel has 65 bedrooms, free car parking,Wi-Fi, and weekend entertainment.
- [Premier Inn Hotel]( http://www.premierinn.com/en/hotel/LONCRE/derry-/-londonderry) – Ideally located on the Waterside of the City – just 10 minutes drive from the City of Derry airport and 5 minutes drive from the city centre. The hotel is an ideal base for the Crescent Link Retail Park – 5 minutes walk away.
- [Everglades Hotel]( http://www.hastingshotels.com/everglades-hotel/) – Four Star Hotel. The Premier Hotel in the North West, situated on the banks of the Foyle and within easy access to the historic City of Derry. Lavishly appointed bedrooms, superb cuisine, professional service for conference and business, as well as friendly staff.
- [Beech Hill Hotel](http://www.beech-hill.com/) – Four Star Country House. Beech Hill is a privately owned 18th century country house which boasts excellent cuisine, friendly atmosphere and luxurious bedrooms. The hotel has a chapel, extensive library and 32 acres of mature parkland with waterfalls and thriving wildlife.
- [Best Western White Horse Hotel] (http://www.whitehorsehotel.biz/) - An ideally located family run hotel less than 10 mins drive from the historic walled City of Londonderry, 1 mile drive from the City of Derry Airport, on the main route to the Giant’s Causeway. State of the art leisure centre comprising 20m swimming pool and children’s play pool, sauna, steam room, gymnasium and award winning beauty salon and day spa. Ideal touring base for Donegal and the North Coast.

- [Derry Visitor] (http://www.derryvisitor.com/) for further information on Accommodation.

{% endfilter %}
{% endblock %}

