{% extends 'wide_base.html' %}

{% block title %}: Accommodation{% endblock %}

{% block content %}

<h2>Accommodation</h2>

{% filter markdown %}

Londonderry is a popular tourist destination, and low-cost accommodation is not the easiest to find - _book early_, especially if your budget is limited. 

<!-- #### On-site accommodation

Accommodation is available on-site at [St Catherine's College](http://www.catzconferences.co.uk/bedandbreakfast/BedandBreakfastBooking.php). Rooms can be booked for the nights of the 21st–24th March for £91/night (including VAT). 
-->

#### Hotels 

- [City Hotel](http://www.cityhotelderry.com/) – This hotel is a 10-15-minute walk from the conference. The City Hotel Derry is perfectly positioned for sightseeing breaks in Derry City. A stay at our Derry hotel guarantees easy access to some of the most remarkable golf courses in Ireland. Explore Derry, Donegal and the Causeway Coast.. 
- [Tower Hotel](http://www.towerhotelderry.com/) - This hotel is a 10-minute walk from the conference. (Very) limited on-site parking available. 
- [Travel Lodge](http://www.travelodge.ie/) – The Derry Travelodge is centrally located in the heart of the city. Our hotel is situated on Strand Road which is popular for nightlife, restaurants, shopping and minutes walk from Derry City’s many attractions.
- [Da Vinci’s Hotel](http://www.davincishotel.com/) – The Derry Travelodge is centrally located in the heart of the city. Our hotel is situated on Strand Road which is popular for nightlife, restaurants, shopping and minutes walk from Derry City’s many attractions.
- [Premier Inn Hotel]( http://www.premierinn.com/en/hotel/LONCRE/derry-/-londonderry) – Ideally located on the Waterside of the City – just 10 minutes drive from the City of Derry airport and 5 minutes drive from the city centre. The hotel is an ideal base for the Crescent Link Retail Park – 5 minutes walk away.


There are also many small B&B’s and Guest houses in L'Derry. These are not included here because of the limited number of available rooms, but these can easily be found via regular search engines. Prices start from ~£65 for an ensuite room. 

{% endfilter %}
{% endblock %}

