{% extends 'base.html' %}
{% block content %}

<img src="{{ url_for('static', filename='main_banner.jpg') }}" class="img-responsive" alt="MEG UK 2017" />

<hr />
<br />

<div class="col-sm-10 col-md-10 col-lg-10 col-centered">

{% filter markdown %}

Ulster University is proud to host MEG UK 2018, an annual conference focused on bringing together research groups working with magnetoencephalography (MEG) in the UK. 
The conference is being organized by the [Northern Ireland Functional Brain Mapping](https://www.ulster.ac.uk/research/institutes/computer-science/groups/intelligent-systems-research-centre/projects) (NIFBM) facility of the Intelligent Systems Research Centre (ISRC), a major research unit within the Faculty of Computing, Engineering and the Built Environment at Ulster's Magee campus. 
It begins with a one-day educational workshop on the 26th March, followed by two days of the main conference. MEG UK 2018 is free to attend, although the number of places is limited and you are encouraged to [register](/user/register) early.

A range of organizations have sponsored the MEG UK conference over past several years. So far confirmed sponsors for MEG UK 2018 are Derry City and Strabane District Council, the MRC, Elekta Ltd., York Instruments Ltd., and Advance Medical Equipment Ltd.

#### Key dates

- **26th January 2018**: Abstract submission and registration closes
- **26th March 2018**: Educational workshop
- **27th-28th March 2018**: Main conference

{% endfilter %}

</div>

{% endblock %}
