{% extends 'base.html' %}
{% block content %}

<img src="{{ url_for('static', filename='main_banner.jpg') }}" class="img-responsive" alt="MEG UK 2017" />

<hr />
<br />

<div class="col-sm-10 col-md-10 col-lg-10 col-centered">

{% filter markdown %}

Ulster University is proud to host MEG UK 2017, an annual conference focused on bringing together research groups working with magnetoencephalography (MEG) in the UK. The conference begins with a one-day educational workshop on the 22nd March, followed by two days of the main conference. MEG UK 2017 is free to attend, although the number of places is limited and you are encouraged to [register](/user/register) early.

The main sponsors for MEG UK 2017 are the MRC, CTF MEG, Elekta Neuromag, and York Instruments. MEG UK 2017 is also supported by SR Research and Calpendo.

#### Key dates

- **23rd January 2017**: Abstract submission and registration closes
- **22nd March 2017**: Educational workshop
- **23rd-24th March 2017**: Main conference

**NEW - On site accommodation is available for £91/night. [Book here now](http://www.catzconferences.co.uk/bedandbreakfast/BedandBreakfastBooking.php)**

{% endfilter %}

</div>

{% endblock %}
