{% extends 'base.html' %}
{% block content %}

<img src="{{ url_for('static', filename='main_banner.jpg') }}" class="img-responsive" alt="MEG UK 2017" />

<hr />
<br />

<div class="col-sm-10 col-md-10 col-lg-10 col-centered">

{% filter markdown %}

Ulster University is proud to host MEG UK 2018, an annual conference focused on bringing together research groups working with magnetoencephalography (MEG) in the UK. The conference begins with a one-day educational workshop on the 26th March, followed by two days of the main conference. MEG UK 2018 is free to attend, although the number of places is limited and you are encouraged to [register](/user/register) early.

<!--The main sponsors for MEG UK 2018 are the MRC, CTF MEG, Elekta Neuromag, and York Instruments. MEG UK 2018 is also supported by SR Research and Calpendo.-->
The main sponsors for MEG UK 2018 are the MRC, York Instruments Ltd, and Advance Medical Equipment Ltd.

#### Key dates

- **26th January 2018**: Abstract submission and registration closes
- **26th March 2018**: Educational workshop
- **27th-28th March 2018**: Main conference

<!--**NEW - On site accommodation is available for £91/night. [Book here now](http://www.catzconferences.co.uk/bedandbreakfast/BedandBreakfastBooking.php)**-->

{% endfilter %}

</div>

{% endblock %}
