{% extends 'wide_base.html' %}

{% block title %}: Location{% endblock %}

{% block content %}

<h2>Location</h2>

<p>MEG UK 2018 will be held at the MS Building, Ulster University, Strand Road, Londonderry, BT487JL (see map below). Getting to <a href="https://www.ox.ac.uk/visitors/visiting-oxford/how-get-oxford">Oxford</a> and to the <a href="http://www.stcatz.ox.ac.uk/contact/map-and-directions">MEG UK venue</a>, is easy. We strongly recommend using public transportation - see transport information below.</p> 

<p>Please note that there is <b>limited paid parking</b> available at the conference venue.</p>

<div class="row" >
	<div class="col-sm-6 col-md-6 col-lg-6 ">
		<h4>Conference venue</h4>
		<div class="google-maps">
			<iframe src="https://www.google.co.uk/maps/place/Ent+Office-+Ulster+University+J+Magee+Campus/@55.0050233,-7.3243484,17.21z/data=!4m5!3m4!1s0x485fe22a90b39f83:0xee1d309e93531d66!8m2!3d55.0064384!4d-7.3243644" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-sm-6 col-md-6 col-lg-6">
		<h4>Dinner venue</h4>
		<div class="google-maps">
			<iframe src="https://www.google.co.uk/maps/place/The+Guildhall/@54.9976005,-7.32135,17z/data=!3m1!4b1!4m5!3m4!1s0x485fe183a9cef23d:0xd4daa1edd4897bc6!8m2!3d54.9976005!4d-7.3191613" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>

{% filter markdown %}

### Transport information

#### Buses within Derry

- [Translink Ulster bus](http://www.translink.co.uk/Services/Ulsterbus-Service-Page/)
<!-- [Real time bus information](http://www.oxontime.com/index.shtml)-->

#### Commuting from Belfast

- [Airporter](http://airporter.co.uk/) (coach; £20/£30 (Adult) for a same/next day return)
- [Train](http://www.translink.co.uk/Services/NI-Railways) (price varies, cost almost same money as coach)

<!--The coach services are the cheapest and probably most convenient way of getting from London to Oxford. A set of 12 tickets can be purchased for £72/£62(student) with a 12 month expiry and can be shared amongst a group of people, which can be quite cost effective if several people are travelling. Note that tickets purchased using the X90 mobile app cannot be shared, it would be easiest to buy from the driver using cash. -->

Possibly, another option could be to rent a car ( http://www.rentalcars.com/en/).

#### Taxi services

There are a number of taxi services available in Derry. Here are some of the more popular recommendations:

- CITYCABS Taxis: 028 7126 4466
- Foyle Taxis: 02871279999

#### Driving

<!--[Park and Ride](https://www.oxfordshire.gov.uk/cms/public-site/park-and-ride)

There is very limited parking space available in Oxford, especially around the city centre, and most of the available parking is paid (and relatively expensive). Some hotels do offer parking, but please check this carefully when booking. Note that there is no parking available at the conference venue. It is therefore advised to use alternative means of transportation, at least within Oxford. Buses run frequently from the park and ride to the city centre. 
-->

{% endfilter %}

{% endblock %}

<!-- 
<div class="col-sm-4 col-md-6 col-lg-6">
	<img src="/static/oxford_ep.jpg"  class="img-responsive" alt="Skyline" />
</div> -->

