{% extends 'wide_base.html' %}

{% block title %}: Location{% endblock %}

{% block content %}

<h2>Location</h2>

<p>MEG UK 2017 will be held at the Bernard Sunley Building, St Catherine's College, Manor Road, Oxford, OX1 3UJ (see map below). Getting to <a href="https://www.ox.ac.uk/visitors/visiting-oxford/how-get-oxford">Oxford</a> and to the <a href="http://www.stcatz.ox.ac.uk/contact/map-and-directions">MEG UK venue</a>, is easy. We strongly recommend using public transportation - see transport information below.</p> 

<p>Please note that there is <b>no parking</b> available at the conference venue.</p>

<div class="row" >
	<div class="col-sm-6 col-md-6 col-lg-6 ">
		<h4>Conference venue</h4>
		<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJHZLColTBdkgRA6S0rBJA2XQ&key=AIzaSyD16dwXCEjV1elAhv8Pj8A3dSmvFhDokzI" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-sm-6 col-md-6 col-lg-6">
		<h4>Dinner venue</h4>
		<div class="google-maps">
			<iframe src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ70tvsq3GdkgR8s-yIZSf5e4&key=AIzaSyD16dwXCEjV1elAhv8Pj8A3dSmvFhDokzI" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>

{% filter markdown %}

### Transport information

#### Buses within Oxford

- [Oxford bus company](http://www.oxfordbus.co.uk/)
- [Real time bus information](http://www.oxontime.com/index.shtml)

#### Commuting from London

- [X90 from London](http://www.oxfordbus.co.uk/) (coach; £18/£14 (student) for a same/next day return)
- [Oxford Tube](http://www.oxfordtube.com/?accept=perm) (coach; £18/£14 (student) for a same/next day return)
- [Train](https://www.thetrainline.com/) (price varies, more expensive than coach)

The coach services are the cheapest and probably most convenient way of getting from London to Oxford. A set of 12 tickets can be purchased for £72/£62(student) with a 12 month expiry and can be shared amongst a group of people, which can be quite cost effective if several people are travelling. Note that tickets purchased using the X90 mobile app cannot be shared, it would be easiest to buy from the driver using cash. 

#### Taxi services

There are a number of taxi services available in Oxford. Here are some of the more popular recommendations:

- 001 Taxis: 01865 240000
- ABC Taxis: 01865 770077 / 01865 242424
- Royal Cars: 01865 777333 / 01865 778866

#### Driving

[Park and Ride](https://www.oxfordshire.gov.uk/cms/public-site/park-and-ride)

There is very limited parking space available in Oxford, especially around the city centre, and most of the available parking is paid (and relatively expensive). Some hotels do offer parking, but please check this carefully when booking. Note that there is no parking available at the conference venue. It is therefore advised to use alternative means of transportation, at least within Oxford. Buses run frequently from the park and ride to the city centre. 

{% endfilter %}

{% endblock %}

<!-- 
<div class="col-sm-4 col-md-6 col-lg-6">
	<img src="/static/oxford_ep.jpg"  class="img-responsive" alt="Skyline" />
</div> -->

