{% extends 'wide_base.html' %}

{% block title %}: Location{% endblock %}

{% block content %}

<h2>Location</h2>

<p>MEG UK 2018 will be held at the MM Building, Ulster University, Magee Campus, Northland Road, Londonderry, BT487JL (see map below). Getting to <a href="https://www.ulster.ac.uk/ulster-life/campuses/magee">Ulster University, Magee Campus </a> and to the <a href="https://www.ulster.ac.uk/pdf/campus-maps/Magee_Campus_Map.pdf">MEG UK 2018 venue</a>, is easy.</p> 

<p>Please note that there is <b>paid parking</b> available at the conference venue.</p>

<div class="row" >
	<div class="col-sm-6 col-md-6 col-lg-6 ">
		<h4>Conference venue</h4>
		<div class="google-maps">
			<iframe src="https://www.google.co.uk/maps/place/Ent+Office-+Ulster+University+J+Magee+Campus/@55.0050233,-7.3243484,17.21z/data=!4m5!3m4!1s0x485fe22a90b39f83:0xee1d309e93531d66!8m2!3d55.0064384!4d-7.3243644" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="col-sm-6 col-md-6 col-lg-6">
		<h4>Dinner venue</h4>
		<div class="google-maps">
			<iframe src="http://www.derrystrabane.com/Subsites/Museums-and-Heritage/Guildhall" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>
</div>

{% filter markdown %}

### Transport information

#### Buses within Derry

- [Translink Ulster bus](http://www.translink.co.uk/Services/Ulsterbus-Service-Page/)

#### Commuting from Belfast

- [Airporter](http://airporter.co.uk/) (coach; £20/£30 (Adult) for a same/next day return)
- [Train](http://www.translink.co.uk/Services/NI-Railways) (price varies, cost almost same money as coach)


#### Taxi services

There are a number of taxi services available in Derry. Here are some of the more popular recommendations:

- CITYCABS Taxis: 028 7126 4466
- Foyle Taxis: 02871279999

#### Driving
 
[Rental Cars](http://www.rentalcars.com/en/) to rent a car.
{% endfilter %}

{% endblock %}

<!-- 
<div class="col-sm-4 col-md-6 col-lg-6">
	<img src="/static/oxford_ep.jpg"  class="img-responsive" alt="Skyline" />
</div> -->

