{% extends 'wide_base.html' %}

{% block title %}: Program{% endblock %}

{% block content %}

<h2>Program</h2>

<h4>Workshop</h4>

<p>MEG UK 2018 will begin with a one-day educational workshop on MEG for Brain-Machine Interface (BMI) and Clinical Applications research on 26th March, followed a two-day conference. The workshop will feature invited talks by world-renowned speakers in the areas of MEG-based BMIs for stroke rehabilitation, MEG in epilepsy and Alzheimer’s disease. The main conference will include two keynote speeches, short talks, and 45 minutes slots for 10 MEG sites in UK. During the conference, a variety of modern analysis techniques for MEG data will be covered. Speakers will introduce relevant concepts for beginners and provide practical advice for those looking to utilise the methods described.</p>

<h4>Keynote speakers</h4>

<ul>
<li><strong>Speaker 1</strong>: TBC.</li>
<li><strong>Speaker 2</strong>: TBC.</li>
<li><strong>Speaker 3</strong>: TBC.</li>
</ul>

<h4>Overview</h4>

<div class="table-responsive">
<table class="table table-condensed table-striped">
<tr>
	<td colspan="2">
		    <strong>MEG for BMI and Clinical Applications</strong>
	</td>

	<td colspan="2">
			<strong>Day 1</strong>
	</td>
	<td colspan="2">
			<strong>Day 2</strong>
	</td>
</tr>
<tr>
	<td>12:00</td><td>Registration & Coffee </td>
	<td>09:00</td><td>Registration & Coffee </td>
	<td>09:00</td><td>Business Meeting</td>
</tr>
<tr>
	<td>13:00</td><td>Talk to be confirmed</td>
	<td>09:30</td><td>Talk to be confirmed</td>
	<td>09:30</td><td>Talk to be confirmed</td>
</tr>
<tr>
    <td>13:50</td><td>Talk to be confirmed</td>
	<td>10:30</td><td>Site 1</td>
	<td>10:30</td><td>Site 6</td>
</tr>
<tr>
	<td>14:40</td><td>Coffee</td>
	<td>11:15</td><td>Coffee and Posters</td>
	<td>11:15</td><td>Coffee and Posters</td>
</tr>
<tr>
	<td>15:00</td><td>Talk to be confirmed</td>
	<td>11:45</td><td>Site 2</td>
	<td>11:45</td><td>Site 7</td>
</tr>
<tr>
	<td>15:50</td><td>Talk to be confirmed</td>
	<td>12:30</td><td>Site 3</td>
	<td>12:30</td><td>Site 8</td>
</tr>
<tr>
	<td>16:40</td><td>Talk to be confirmed</td>
	<td>13:15</td><td>Lunch</td>
	<td>13:15</td><td>Lunch</td>
</tr>
<tr>
	<td>17:30</td><td>Close</td>
	<td>14:15</td><td>Site 4</td>
	<td>14:15</td><td>Site 9</td>
</tr>
<tr>
	<td></td><td></td>
	<td>15:00</td><td>Short talks</td>
	<td>15:00</td><td>Short talks</td>
</tr>
<tr>
	<td></td><td></td>
	<td>15:30</td><td>Coffee and Posters</td>
	<td>16:30</td><td>Coffee and Posters</td>
</tr>
<tr>
	<td></td><td></td>
	<td>16:30</td><td>Site 5</td>
	<td>17:15</td><td>Site 10(Ulster)</td>
</tr>
<tr>
	<td></td><td></td>
	<td>17:15</td><td>Close</td>
	<td>17:30</td><td>Wrap up</td>
</tr>
<tr>
	<td></td><td></td>
	<td>18:30</td><td>Conference Dinner</td>
	<td>17:30</td><td>Close</td>
</tr>
</table>
</div>

<!--<h3><a href="{{ url_for('static', filename='meguk_program.pdf') }}">Full program</h3>-->   <!-- Hyper link to the full program-->

{% endblock %}