{% extends 'flask_user/member_base.html' %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}
<h2>{%trans%}User account settings{%endtrans%}</h2>

{% if user_manager.enable_change_username %}
<p><a href="{{ url_for('user.change_username') }}">{%trans%}Change username{%endtrans%}</a></p>
{% endif %}
{% if user_manager.enable_change_password %}
<p><a href="{{ url_for('user.change_password') }}">{%trans%}Change password{%endtrans%}</a></p>
{% endif %}

<p><em>For other requests, such as deleting your account, please email <script type="text/javascript">mailto("meguk2017", "ohba.ox.ac.uk");</script>.</em></p>

{% endblock %}